services:
    db:
        image: postgres:15-alpine
        container_name: meu-site-perfeito-db
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: meu_site_perfeito
        ports:
            - "5436:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
